Repository Dibasic/SS13PaperworkSimulator, pull requests merged in 2019-03, with the labels that each got.

#14 Load templates dynamically (from json)
  index.html
  script/templates.js
  templates/index.json
Labels: enhancement

#15 Change scroll behaviour, responsivefy to narrow screens, and refactor CSS
  index.html
  style/main.css
Labels: changes requested, enhancement

#31 Wrap selection in formatting tags
  script/pen.js
Labels: enhancement

#33 Change font size buttons to more intuitive icons
  index.html
Labels: changes requested

#34 Make textual buttons use icons instead
  index.html
Labels: changes requested, refactor

#38 Adds the Armory Inventory template from the wiki
  templates/security/armory.txt
Labels: content

#35 Add settings modal
  index.html
  script/pen.js
  script/settings.js
  style/main.css
Labels: changes requested, enhancement, refactor

#41 Turn #template select in to menu with submenus, add current template to url
  index.html
  script/clipboard.js-master/.babelrc
  script/clipboard.js-master/.editorconfig
  script/clipboard.js-master/.github/issue_template.md
  script/clipboard.js-master/.gitignore
  script/clipboard.js-master/.travis.yml
  script/clipboard.js-master/bower.json
  script/clipboard.js-master/composer.json
  script/clipboard.js-master/contributing.md
  script/clipboard.js-master/demo/constructor-node.html
  script/clipboard.js-master/demo/constructor-nodelist.html
  script/clipboard.js-master/demo/constructor-selector.html
  script/clipboard.js-master/demo/function-target.html
  script/clipboard.js-master/demo/function-text.html
  script/clipboard.js-master/demo/target-div.html
  script/clipboard.js-master/demo/target-input.html
  script/clipboard.js-master/demo/target-textarea.html
  script/clipboard.js-master/dist/clipboard.js
  script/clipboard.js-master/dist/clipboard.min.js
  script/clipboard.js-master/karma.conf.js
  script/clipboard.js-master/package-lock.json
  script/clipboard.js-master/package.js
  script/clipboard.js-master/package.json
  script/clipboard.js-master/readme.md
  script/clipboard.js-master/src/clipboard-action.js
  script/clipboard.js-master/src/clipboard.js
  script/clipboard.js-master/test/clipboard-action.js
  script/clipboard.js-master/test/clipboard.js
  script/clipboard.js-master/webpack.config.js
  script/pen.js
  script/templates.js
  style/main.css
Labels: changes requested, enhancement

#49 Add prescription form
  templates/index.json
  templates/medical/prescription.txt
Labels: content

#47 Add blood donation form
  templates/index.json
  templates/medical/blood_donation.txt
Labels: changes requested, content

#50 Create new arrival form
  templates/command/arrival.txt
  templates/index.json
Labels: changes requested, content

#48 Add kosher certificate template
  templates/index.json
  templates/service/kosher.txt
Labels: changes requested, content

#56 Implement dark themes
  index.html
  script/settings.js
  style/dark.css
  style/solarized.css
Labels: enhancement

#57 Add option to control pen types
  index.html
  script/settings.js
  style/main.css
Labels: enhancement

#65 Make pen styles play nicely with themes
  index.html
  script/settings.js
Labels: bug, enhancement

#53 Adds autopsy report because I didn't realize there already was one.
  templates/index.json
  templates/medical/autopsy2.txt
Labels: changes requested, content
